<footer>
        <div class="social">
            <a id="fb" href="https://www.facebook.com/md.mdatifhussain" target="_blanks"><i class="fa-brands fa-facebook"></i></a>
            <a id="ins" href="https://www.instagram.com/atif.faizy" target="_blanks"><i class="fa-brands fa-instagram-square"></i></a>
            <a id="twitter" href="https://www.twitter.com/mdatifhussain" target="_blanks"><i class="fa-brands fa-twitter-square"></i></a>
            <a id="ln" href="https://www.linkedin.com/in/md-atif-hussain-550590172" target="_blanks"><i class="fa-brands fa-linkedin"></i></a>
            <a id="git" href="https://github.com/hussainatif" target="_blanks"><i class="fa-brands fa-github"></i></a>
            </div>
        <span>Created By <a href="https://github.com/hussainatif" target="_blank">MdAtifHussain</a> | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
    </footer>